.forecast_div {
    width: 40%;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.159);
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.forecast_title {
    display: block;
    margin-top: 10px;
}

.forecast_title span{
    direction: rtl;
}

.forecast_div i {
    font-size: 25px;
}

.forecast_main{
    display: flex;
}

@media screen and (max-width:900px) {
    .forecast_main{
        flex-direction: column;
    }
    .forecast_div{
        width: 250px;
        margin: 20px auto;
    }
}