.main {
    width: 70%;
    margin: auto;
    padding: 10px;
}

.status_div {
    width: 300px;
    padding: 10px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.654);
    text-align: center;
    border-radius: 5px;
    color: white;
    backdrop-filter: blur(10);
}

.date_div {
    width: 300px;
    padding: 10px;
    margin: 2% auto;
    background-color: rgba(0, 37, 50, 0.537);
    text-align: center;
    border-radius: 5px;
    backdrop-filter: blur(10);
    color: white;
}

.temp_div {
    width: 300px;
    padding: 10px;
    margin: 2% auto;
    background-color: rgba(0, 0, 0, 0.537);
    text-align: center;
    border-radius: 5px;
    color: white;
    backdrop-filter: blur(10);
    direction: ltr;
}

@media screen and (max-width: 500px) {
    .status_div {
        width: 180px;
    }

    .status_div h3 {
        font-size: medium;
    }

    .temp_div {
        width: 180px;
    }

    .temp_div h3 {
        font-size: medium;
    }

    .date_div {
        width: 180px;
    }

    .date_div h3 {
        font-size: medium;
    }
}